node_modules
build
dist
coverage
.VSCodeCounter
.DS_Store
.clang-format
CMakeUserPresets.json
types
# written by scripts/write-runtime-version.mjs at build
public/version.json

packages/web/esoul-tests/out/
